.Nav img {
  width: 40px;
}

Nav .links .a {
  color: rgb(186, 186, 186);
  text-decoration: none;
}

.nav-link a {
  color: #d2cbcb;
  text-decoration: none;
}

.nav-link a:hover {
  color: #fff;
}

footer {
  padding: 15px;
  text-align: center;
}

footer p {
  color: #fff;
}

.notfound {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.notfound img {
}
.notfound h3 {
  font-size: 35px;
  color: darkgray;
}
.notfound button {
}

.contant img {
  width: 55px;
  padding-top: 10px;
}
.contant p {
}
.card-link {
  color: #444;
  text-decoration: none;
}

.card-img {
  position: relative;
}
.card-img img {
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
}
.card-info {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 5px;
}
.form-login {
}
